.navbar-light .navbar-nav .nav-link{
  font-family: 'Raleway', sans-serif;
  color: #518384;
  font-weight: bold;
  margin-right: 50px;
}
.form-control{
  color: #518384;
  border: 2px solid #518384;
  border-radius: 25px;
}