.navbar-light .navbar-nav .nav-link{
  font-family: 'Raleway', sans-serif;
  color: #518384;
  font-weight: bold;
  margin-right: 50px;
}
.form-control{
  color: #518384;
  border: 2px solid #518384;
  border-radius: 25px;
  background: #F6F5F5;
}
.bg-light{
  background: #F6F5F5;
}
.navbar-brand img{
  height: 74px; 
  width: 340px;
}

@media (max-width: 576px) {
  .navbar-brand img{
    height: 40px; 
    width: 200px;
  }
}