{% extends 'pages/base.html'%}
{% load static %}
{% block content %}
<div class="container" id="about">
   <h1 class="text-center">About</h1>
   <p>Mobil Termurah is the best place to find cheap cars for rent.
      Be it for your business trips, holidays, or even weddings because we have all kind of cars
      that you might need at the best price.
      <br>
      <br>
      This startup was founded in the study room of Building C at the Faculty of Computer Science. The application was
      made by Ray, Harold, Sarah, and Munir. It was made for the Web Design and Programming course group assignment in
      2020.
   </p>
</div>
{% endblock %}