{% extends 'pages/base.html'%}
{% load static %}
{% block content %}

<div class="container" id="about" style="margin-bottom: 50px;">
	<h1 class="text-center" id="articleTitle">{{title}}</h1>
	<p>{{content}}
	</p>
	<div id="articleRating">
		{% if rating == 0 %}
		<h2 style="color: #518384; font-weight: bold;" name="rate" id="articleRating"><i class="fas fa-star"
				style="color: #518384;"></i> No Rating</h2>
		{% else %}
		<h2 style="color: #518384; font-weight: bold;" name="rate" id="articleRating"><i class="fas fa-star"
				style="color: #518384;"></i> {{rating}}</h2>
		{% endif %}

	</div>
	<div id="ratingArticle" style="margin-top: 50px;">
		<form method="POST" id="submitRatingForm">
			{% csrf_token %}
			<div class="form-row align-items-center">
				<div class="col-auto my-1">
					<label class="mr-sm-2" for="inlineFormCustomSelect" style="font-size: 25px; color: #518384;">Rate
						the above Article</label>
					<select class="custom-select mr-sm-2" id="ratings">
						<option selected>Choose...</option>
						<option value="1" id="one">One</option>
						<option value="2" id="two">Two</option>
						<option value="3" id="three">Three</option>
						<option value="4" id="four">Four</option>
						<option value="5" id="five">Five</option>
					</select>
				</div>
				<div class="col-auto my-1" style="margin-left: 50px; margin-top: 25px;">
					<button id="revbutton" type="button" name="submitRatingButton" class="btn btn-large btn-primary mt-3"
						onclick=submitRating()>Submit Rating</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}