<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Find Car
	</title>
</head>
<body>
	<table>{% for car in cars %}{% if target == car.carName %}
		<tr>
			<td align="center">
				Name: {{car.carName}}
			</td>
			<td align="center">
				Category: {{car.carCategory}}
			</td>
			<td align="center">
				Year: {{car.carYear}}
			</td>
			<td align="center">
				City: {{car.carCity}}
			</td>
			<td align="center">
				Price: {{car.carPrice}}
			</td>
			<td align="center">
				Description: {{car.carDescription}}
			</td>
		</tr>{% endif %}{% endfor %}
	</table>
</body>
</html>