{% extends 'pages/base.html'%}
{% load static %}
{% block content %}
<section id="carView">
    <div class="container" id="carView">
        <div class="row mt-5">
            <div class="col-md-6">
                <img src="{{car.carImage.url}}" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1 id="carNameView">
                    <b>{{car.carName}}</b>
                </h1>
                <h2 id="carPrice">
                    <b>{% if car.carPrice|length >= 5 and car.carPrice|length < 7 %}
                        Rp.{{car.carPrice|slice:":3"}}rb/day
                    {% elif car.carPrice|length >= 7 %}
                        Rp.{{car.carPrice|slice:":1"}}jt/day
                    {% endif %}</b>
                </h2>
                <h2><i class="fas fa-star"></i> {{rating}}</h2>
                <div id="buttonGroup">
                    <button type="button" data-toggle="modal" data-target="#modalForm" class="btn btn-large btn-primary mt-3">
                        Add Reviews
                    </button> <br>
					<form method="POST" action="{%url 'rentingForm' car.id%}">{% csrf_token %}
						<button class="btn btn-large btn-primary mt-3" onclick="document.form.submit()">
							Rent Car
						</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="review">
    <div class="container">
        <h1 class="text-center mb-3" style="font-size: 3rem;">Reviews</h1>
        <div class="row">
            <div class="col-md-4">
                {% for review in reviews %}
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">
                            <h1><i class="fas fa-star"></i> {{review.carRating}}</h1>
                <h2 style="font-style: italic;">"{{review.carReview}}"</h2>
                        </div>
                    </div>
                </div>
                
            {% endfor %}
            </div>
            
        </div>
    </div>
</section>
<div class="modal" id="modalForm">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form method="POST" action="{%url 'sendReviewForm' car.id%}">{% csrf_token %}
			<input type="text" name="carReview">
			<input type="number" name="carRating" min="1" max="5">
			<input type='submit' value="SUBMIT">
		  </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
{% endblock %}