<!-- Page for viewing cars/searching for cars -->
{% extends 'pages/base.html'%}
{% load static %}
{% block content %}
<br>
<div class="container">
    <div class="row">
      <div class="col-md-3">
		  <br><br>
		  {% include 'pages/categorybar.html' %}
	  </div>
      <div class="col-md-9">
		<div class="row">
		{% for car in cars %}{% for review in reviews%}{% if review.carName == car %}
		<div class="col-md-4" style="margin-top: 50px;">
			<div class="carbox">
				<a href="{%url 'carsView' car.id%}">
				<img src="{{car.carImage.url}}" alt="car1" style="height: 100px; width: 220px;">
				<br><br>
				<h2 id="carname">
					<b>{{car.carName}}</b>
				</h2>
				<h2>
					{% if car.carPrice|length >= 5 and car.carPrice|length < 7 %}
						Rp.{{car.carPrice|slice:":3"}}rb/day
					{% elif car.carPrice|length >= 7 %}
						Rp.{{car.carPrice|slice:":1"}}jt/day
					{% endif %}
				</h2>
			</a> 
			<h2><i class="fas fa-star"></i> {{review.carRating}} </h2>
			</div>
		</div>{% else %}
		<div class="col-md-4" style="margin-top: 50px;">
			<div class="carbox">
				<a href="{%url 'carsView' car.id%}">
				<img src="{{car.carImage.url}}" alt="car1" style="height: 100px; width: 220px;">
				<br><br>
				<h2 id="carname">
					<b>{{car.carName}}</b>
				</h2>
				<h2>
					{% if car.carPrice|length >= 5 and car.carPrice|length < 7 %}
						Rp.{{car.carPrice|slice:":3"}}rb/day
					{% elif car.carPrice|length >= 7 %}
						Rp.{{car.carPrice|slice:":1"}}jt/day
					{% endif %}
				</h2>
			</a> 
			<h2><i class="fas fa-star"></i> No rating </h2>
			</div>
		</div>{% endif %}{% endfor %}
		{% endfor %}
		</div>
      </div>
    </div>
  </div>
{% endblock %}
