<div class="card" style="width: 12rem;">
    <div class="card-header">
      Categories
    </div>
    <form action="#">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Sedan">
            <label for="vehicle1"> Sedan </label>
        </li>
        <li class="list-group-item">
            <input type="checkbox" id="vehicle2" name="vehicle2" value="Hatchback">
            <label for="vehicle2"> Hatchback</label> 
        </li>
        <li class="list-group-item">
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Family Car">
            <label for="vehicle3"> Family Car</label></li>
        <li class="list-group-item">
            <input type="checkbox" id="vehicle3" name="vehicle3" value="LCGC">
            <label for="vehicle3"> LCGC</label></li>
        <li class="list-group-item">
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Jeep">
            <label for="vehicle3"> Jeep</label></li>
        <li class="list-group-item">
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Truck">
            <label for="vehicle3"> Truck</label></li>
        <li class="list-group-item"><a><button type="button" id="searchbutton" class="btn btn-sm mt-3" >
            <i class="fas fa-search"></i> Search</button></a></li>
    </ul>
    </form>
  </div>