<div class="card" style="width: 12rem;">
    <div class="card-header">
      Categories
    </div>
    <form method="POST" action="{% url 'searchByCategory' %}">{% csrf_token %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <input type="radio" id="vehicle1" name="vehicle" value="Sedan">
            <label for="vehicle1"> Sedan </label>
        </li>
        <li class="list-group-item">
            <input type="radio" id="vehicle2" name="vehicle" value="Hatchback">
            <label for="vehicle2"> Hatchback</label> 
        </li>
        <li class="list-group-item">
            <input type="radio" id="vehicle3" name="vehicle" value="Family Car">
            <label for="vehicle3"> Family Car</label></li>
        <li class="list-group-item">
            <input type="radio" id="vehicle3" name="vehicle" value="LCGC">
            <label for="vehicle3"> LCGC</label></li>
        <li class="list-group-item">
            <input type="radio" id="vehicle3" name="vehicle" value="Jeep">
            <label for="vehicle3"> Jeep</label></li>
        <li class="list-group-item">
            <input type="radio" id="vehicle3" name="vehicle" value="Truck">
            <label for="vehicle3"> Truck</label></li>
        <li class="list-group-item"><button id="searchbutton" class="btn btn-sm mt-3" onclick="document.form.submit()">
            <i class="fas fa-search"></i> Search</button></li>
    </ul>
    </form>
  </div>