{% extends 'pages/base.html'%}
{% load static %}
{% block content %}

<table align="center">
	<tr>
		<td style="text-align: center;">
			<h1>List of transactions</h1><br><br>
		</td>
	</tr>
	{% for transaction in transactions %}
	<tr>
		<td align="center">
			<img src='{{transaction.carName.carImage.url}}'>&nbsp;
		</td>
		<td align="center">
			{{transaction.carName.carName}}&nbsp;
		</td>
		<td align="center">
			{{transaction.carName.carCategory}}&nbsp;
		</td>
		<td align="center">
			{{transaction.carName.carYear}}&nbsp;
		</td>
		<td align="center">
			{{transaction.carName.carCity}}&nbsp;
		</td>
		<td align="center">
			{{transaction.carName.carPrice}}&nbsp;
		</td>
		<td align="center">
			{{transaction.carName.carDescription}}&nbsp;
		</td>
		<td align="center">
			{{transaction..transactionDuration}}&nbsp;
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}