{% extends 'pages/base.html'%}
{% load static %}
{% block content %}
<form class="container mt-1" method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username">Username:</label>
        <input class="form-control" type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
    </div>
    <div class="form-group">
        <label for="id_first_name">First name:</label>
        <input type="text" name="first_name" maxlength="30" id="id_first_name" class="form-control">
    </div>
    <div class="form-group">
        <label for="id_last_name">Last name:</label>
        <input type="text" name="last_name" maxlength="150" id="id_last_name" class="form-control">
    </div>
    <div class="form-group">
        <label for="id_email">Email:</label>
        <input type="email" name="email" required="" id="id_email" class="form-control">
    </div>
    <div class="form-group">    
        <label for="id_password1">Password:</label>
        <input class="form-control" type="password" name="password1" required="" id="id_password1">
    </div>
    <div class="form-group">
        <label for="id_password2">Password confirmation:</label>
        <input class="form-control" type="password" name="password2" required="" id="id_password2">
    </div>
    <input class="btn btn-large btn-primary" type="submit" value="Register" name="RegisterButton" style="background-color: #518384; border: 0px;">
</form>

{% endblock %}