{% extends 'pages/base.html'%}
{% load static %}
{% block content %}

<table align="center">
	<tr>
		<td>
			Do you want to rent this car?<br>
		<td>
	</tr>
	<tr>
		<td>
			<img src="{{car.carImage.url}}" alt="" class="img-fluid"><br>
		</td>
	</tr>
	<tr>
		<td>
			<form method="POST" action="{%url 'sendRentingForm' car.id%}">{% csrf_token %}
				<input type="text" name="transactionDuration" placeholder="Put your duration here [ in day ]">
				<button class="btn btn-large btn-primary mt-3" onclick="document.form.submit()">
					Rent it now
				</button>
            </form>
		</td>
	</tr>
</table>

{% endblock %}