<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Rent your car!
	</title>
</head>
<body>
	<form method="POST" action="{% url 'sendRentForm' %}">{% csrf_token %}
		<table>
			<tr>
				<td align="center">
					Name
					<br>
					<input type='text' name='carName'>
				</td>
			</tr>
			<tr>
				<td align="center">
					Category
					<br>
					<input type='text' name='carCategory'>
				</td>
			</tr>
			<tr>
				<td align="center">
					Year
					<br>
					<input type='text' name='carYear'>
				</td>
			</tr>
			<tr>
				<td align="center">
					City
					<br>
					<input type='text' name='carCity'>
				</td>
			</tr>
			<tr>
				<td align="center">
					Price
					<br>
					<input type='text' name='carPrice'>
				</td>
			</tr>
			<tr>
				<td align="center">
					Description
					<br>
					<input type='text' name='carDescription'>
				</td>
			</tr>
			<tr>
				<td>
					<input type='submit' value='Submit'>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>