<!-- Form to put a car for rent -->
{% extends 'pages/base.html'%}
{% load static %}
{% block content %}
		  <br><br>
		<form method="POST" action="{% url 'sendRentForm' %}" class="text-center">{% csrf_token %}
			<table>
				<tr>
					<td align="center">
						Name
						<br>
						<input class="form-control" type='text' name='carName'>
					</td>
				</tr>
				<tr>
					<td align="center">
						Category
						<br>
						<input class="form-control" type='text' name='carCategory'>
					</td>
				</tr>
				<tr>
					<td align="center">
						Year
						<br>
						<input class="form-control" type='text' name='carYear' style="width:100%;">
					</td>
				</tr>
				<tr>
					<td align="center">
						City
						<br>
						<input class="form-control" type='text' name='carCity'>
					</td>
				</tr>
				<tr>
					<td align="center">
						Price
						<br>
						<input class="form-control" type='text' name='carPrice'>
					</td>
				</tr>
				<tr>
					<td align="center">
						Description
						<br>
						<input class="form-control" type='text' name='carDescription'>
					</td>
				</tr>
				<tr>
					<td>
						<br>
						<input type='submit' value='Submit'>
					</td>
				</tr>
			</table >
		</form>

{% endblock %}
